<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>基本列表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <!-- 遍历数组 -->
      <h3>人员列表（遍历数组）</h3>
      <ul>
        <li v-for="(p,index) of persons" :key="index">{{p.name}}-{{p.age}}</li>
      </ul>
      <!-- 遍历对象 -->
      <h3>汽车信息（遍历对象）</h3>
      <ul>
        <li v-for="(value,k) of car" :key="k">{{k}}-{{value}}</li>
      </ul>
      <!-- 遍历字符串 -->
      <h3>演示遍历字符串（用得少）</h3>
      <ul>
        <li v-for="(char,index) of str" :key="index">{{char}}-{{index}}</li>
      </ul>
      <!-- 遍历指定次数 -->
      <h3>演示遍历指定次数（用得少）</h3>
      <ul>
        <li v-for="(number,index) of 5" :key="index">
          {{ index }}-{{ number }}
        </li>
      </ul>
    </div>
    <script>
      Vue.config.productionTip = false
      new Vue({
        el: '#root',
        data: {
          persons: [
            { id: '001', name: '张三', age: 18 },
            { id: '002', name: '李四', age: 19 },
            { id: '003', name: '王五', age: 20 },
          ],
          car: {
            name: '奥迪',
            price: '70万',
            color: '黑色',
          },
          str: 'hello',
        },
      })
    </script>
  </body>
</html>
