<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>收集表单数据</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <form @submit.prevent="test">
        账号：<input type="text" v-model.trim="userInfo.account" /><br />
        密码：<input type="password" v-model="userInfo.passWord" /><br />
        年龄：<input type="number" v-model.number="userInfo.age" /><br />
        性别：<br />
        男<input type="radio" v-model="userInfo.sex" value="male" /> 
        女<input type="radio" v-model="userInfo.sex" value="female" /><br />
        爱好：<br />
        学习<input type="checkbox" v-model="userInfo.hobby" value="study" />
        打游戏<input type="checkbox" v-model="userInfo.hobby" value="game" />
        吃饭<input type="checkbox" v-model="userInfo.hobby" value="eat" />
        <br />
        所属校区:
        <br />
        <select v-model="userInfo.area">
          <option value="">请选择校区</option>
          <option value="QuFuL">曲阜老校区</option>
          <option value="QuFuX">曲阜新校区</option>
          <option value="RiZhao">日照校区</option>
        </select>
        <br />
        其他信息：<br />
        <textarea v-model.lazy="userInfo.other"></textarea> 
        <br />
        <input type="checkbox" v-model="userInfo.agree" />阅读并接受
        <a href="https://www.qfnu.edu.cn">《用户协议》</a>
        <br />
        <button>提交</button>
      </form>
    </div>
    <script>
      Vue.config.productionTip = false
      new Vue({
        el: '#root',
        data: {
          userInfo: {
            account: '',
            passWord: '',
            age: 18,
            sex: 'female',
            hobby: [],
            area: '',
            other: '',
            agree: '',
          },
        },
        methods: {
          test() {
            console.log(JSON.stringify(this.userInfo))
          },
        },
      })
    </script>
  </body>
</html>
